* {
   padding: 0;
   margin: 0;
   font-family: 'Poppins', sans-serif;
   font-weight: 300;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
}

.container {
   display: flex;
   flex-direction: column;
   width: 30%;
   margin: 50px 100px;
}

.color-block {
   background-color: rgb(30, 172, 172);
   width: 100%;
   min-height: 7rem;
   color: rgb(30, 172, 172);
}

.avatar {
   width:  5rem;
   height: 5rem;
   padding: 2px;
   border: 3px solid rgb(80, 80, 80);
   border-radius: 50%;
   position: absolute;
   top: 12%;
   margin-left: 2%;
}

.user-info {
   padding: 8% 5% 3% 5%;
   border: 4px solid lightgray;
   border-top: none;
}

.name {
   font-weight: 500;
}

.location {
   display: flex;
   flex-direction: row;
   padding: 2% 0;
}

.city {
   font-weight: 500;
}

.small {
   width: 1rem;
   height: 1rem;
   padding-right: 2%; 
}

.edit {
   margin-top: 2%;
}
.edit > a {
   color: rgb(0, 110, 255);
   font-weight: 500;
}